h1 {
  color: red;
  font-style: italic;
}

.image-container {
  height: auto;
  width: auto;
  float: left;
}

.search-bar-section {
  width: 50%;
}
.search-bar {
  width: 100%;
}

.search-button {
  margin-top: 10px;
}

.thumbnail {
  width: 100px;
  height: 100px;
}
